*.a
*.deb
*.la
*.lo
*.local
*.o
*.orig
*.rej
*.so
*.swp
.DS_Store
.cache/v/cache/lastfailed
.deps/
.gdb_history
.libs/
/.idea
/.vagrant
/3rdparty/Makefile
/3rdparty/build-*.ok
/3rdparty/jemalloc-5.0.1/Makefile
/3rdparty/jemalloc-5.0.1/bin/jemalloc-config
/3rdparty/jemalloc-5.0.1/bin/jemalloc.sh
/3rdparty/jemalloc-5.0.1/bin/jeprof
/3rdparty/jemalloc-5.0.1/config.log
/3rdparty/jemalloc-5.0.1/config.stamp
/3rdparty/jemalloc-5.0.1/config.status
/3rdparty/jemalloc-5.0.1/doc/html.xsl
/3rdparty/jemalloc-5.0.1/doc/jemalloc.xml
/3rdparty/jemalloc-5.0.1/doc/manpages.xsl
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/jemalloc_internal_defs.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/jemalloc_preamble.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/private_namespace.gen.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/private_namespace.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/private_symbols.awk
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/private_symbols_jet.awk
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/public_namespace.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/public_symbols.txt
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/public_unnamespace.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/internal/size_classes.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/jemalloc.h
/3rdparty/jemalloc-5.0.1/include/jemalloc/jemalloc_*.h
/3rdparty/jemalloc-5.0.1/jemalloc.pc
/3rdparty/jemalloc-5.0.1/lib/libjemalloc.so.*
/3rdparty/jemalloc-5.0.1/src/*.d
/3rdparty/jemalloc-5.0.1/src/*.sym
/3rdparty/jemalloc-5.0.1/src/jemalloc_ext-stamp/
/3rdparty/jemalloc-5.0.1/test/include/test/jemalloc_test.h
/3rdparty/jemalloc-5.0.1/test/include/test/jemalloc_test_defs.h
/3rdparty/jemalloc-5.0.1/test/test.sh
/3rdparty/jemalloc-5.0.1/tmp/
/3rdparty/udis86/Makefile
/3rdparty/udis86/Makefile.in
/3rdparty/udis86/aclocal.m4
/3rdparty/udis86/build/
/3rdparty/udis86/config.h
/3rdparty/udis86/config.h.in*
/3rdparty/udis86/config.log
/3rdparty/udis86/config.status
/3rdparty/udis86/configure
/3rdparty/udis86/docs/Makefile
/3rdparty/udis86/docs/Makefile.in
/3rdparty/udis86/docs/manual/Makefile
/3rdparty/udis86/docs/manual/Makefile.in
/3rdparty/udis86/docs/x86/Makefile
/3rdparty/udis86/docs/x86/Makefile.in
/3rdparty/udis86/libudis86/Makefile
/3rdparty/udis86/libudis86/Makefile.in
/3rdparty/udis86/scripts/Makefile
/3rdparty/udis86/scripts/Makefile.in
/3rdparty/udis86/src/udis86_ext-stamp/
/3rdparty/udis86/tests/Makefile
/3rdparty/udis86/tests/Makefile.in
/3rdparty/udis86/tests/_results
/3rdparty/udis86/tests/difftest.sh
/3rdparty/udis86/tests/libcheck
/3rdparty/udis86/tests/symresolve
/3rdparty/udis86/tests/test-sym-resolver.out
/3rdparty/udis86/tmp/
/3rdparty/udis86/udcli/Makefile
/3rdparty/udis86/udcli/Makefile.in
/3rdparty/udis86/udcli/udcli
/Makefile
/Vagrantfile
/docs/Makefile
/docs/html/
/etc/*.gz
/etc/*.pc
/etc/Makefile
/src/Makefile
/src/host/buildvm
/src/host/buildvm_arch.h
/src/host/minilua
/src/jit/vmdef.lua
/src/libluajit.so*
/src/libujit.so*
/src/lj_bcdef.h
/src/lj_ffdef.h
/src/lj_folddef.h
/src/lj_libdef.h
/src/lj_recdef.h
/src/lj_vm.s
/src/luajit
/src/luajit_dyn
/src/luavela
/src/luavela_dyn
/src/uj_version.h
/src/ujit
/src/ujit.h
/src/ujit_dyn
/src/utils/Makefile
/tests/Makefile
/tests/gen_*.ok
/tests/impl/Lua-5.1-tests/Makefile
/tests/impl/Lua-5.1-tests/suite_run
/tests/impl/LuaJIT-tests/Makefile
/tests/impl/LuaJIT-tests/suite/bench/FASTA_ujit.txt
/tests/impl/LuaJIT-tests/suite_run
/tests/impl/Makefile
/tests/impl/uJIT-tests-C/Makefile
/tests/impl/uJIT-tests-C/suite/Makefile
/tests/impl/uJIT-tests-C/suite_bin
/tests/impl/uJIT-tests-C/suite_run
/tests/impl/uJIT-tests-Lua/Makefile*
/tests/impl/uJIT-tests-Lua/suite_run
/tests/iponweb/perf/Makefile
/tests/iponweb/perf/capi/Makefile
/tests/iponweb/perf/src/Makefile
/tests/iponweb/perf/tests-run
/tests/lang/CERN-MAD-tests/Makefile
/tests/lang/CERN-MAD-tests/suite_run
/tests/lang/Makefile
/tests/lang/lua-Harness/Makefile
/tests/lang/lua-Harness/suite_run
/tools/Makefile
/tools/parse_profile/Makefile
/tools/tests/run_iponweb_tools_tests.ok
/tools/tests/tests-run
/tools/ujit-mock-profile
/tools/ujit-parse-profile
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
autom4te.cache/
cmake_install.cmake
compile_commands.json
install_manifest_tools.txt
install_manifest_ujit.txt
libtool
stamp-h1
