# GitHub CI configuration file for LuaVela.
# Copyright (C) 2020-2024 LuaVela Authors. See Copyright Notice in COPYRIGHT
# Copyright (C) 2015-2020 IPONWEB Ltd. See Copyright Notice in COPYRIGHT

name: Testing (macOS)

on:
  push:
    branches:
      - 'master'
    tags:
      - '**'
  pull_request:
    types: [opened, reopened, synchronize, labeled]
  workflow_dispatch:

concurrency:
  # Update of a developer branch cancels the previously scheduled workflow run
  # for this branch. However, the 'master' branch and tag workflow runs are
  # never canceled.
  #
  # We use the following hack: define the concurrency group as 'workflow run ID'
  # + 'workflow run attempt' because it is a unique combination for any run. So
  # it effectively discards grouping.
  #
  # XXX: we cannot use `github.sha` as a unique identifier because pushing a tag
  # may cancel a run that works on a branch push event.
  group: ${{ (
    github.ref == 'refs/heads/master' ||
    startsWith(github.ref, 'refs/tags/')) &&
    format('{0}-{1}', github.run_id, github.run_attempt) ||
    format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        BUILDTYPE: [Debug, Release]
        DISTVER: [12]
        include:
          - BUILDTYPE: Debug
            CMAKEFLAGS: >-
              -DCMAKE_BUILD_TYPE=Debug
          - BUILDTYPE: Release
            CMAKEFLAGS: >-
              -DCMAKE_BUILD_TYPE=Release
    runs-on: macos-${{ matrix.DISTVER }}
    name: >-
      macOS ${{ matrix.DISTVER }}
      /
      AppleClang
      ${{ matrix.BUILDTYPE }}
      static
    steps:
      - name: Checkout uJIT
        uses: actions/checkout@v3
      - name: Setup macOS
        uses: ./.github/actions/setup-macos
      - name: Run tests
        uses: ./.github/actions/run-tests
        with:
          cmakeflags: ${{ matrix.CMAKEFLAGS }}
